*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

:root{
    --cor-principal:#2e7d32;
    --cor-secundaria:#4caf50;
    --fundo:#f4fff4;
    --texto:#222;
    --card:#ffffff;
}

.dark-mode{
    --fundo:#121212;
    --texto:#f5f5f5;
    --card:#1e1e1e;
    --cor-principal:#1b5e20;
    --cor-secundaria:#66bb6a;
}

body{
    background:var(--fundo);
    color:var(--texto);
    transition:0.4s;
}

header{
    text-align:center;
    padding:80px 20px;

    background:
    linear-gradient(rgba(0,0,0,.5),
    rgba(0,0,0,.5)),
    url('https://images.unsplash.com/photo-1464226184884-fa280b87c399?auto=format&fit=crop&w=1600&q=80');

    background-size:cover;
    color:white;
}

header h1{
    font-size:3rem;
}

header p{
    margin:15px 0;
}

#darkModeBtn{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:white;
    cursor:pointer;
    font-weight:bold;
}

nav{
    background:var(--cor-principal);
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

section{
    padding:60px 10%;
}

h2{
    text-align:center;
    margin-bottom:30px;
    color:var(--cor-principal);
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    background:var(--card);
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.conteudo{
    padding:20px;
}

ul{
    max-width:800px;
    margin:auto;
}

li{
    margin:15px 0;
    font-size:1.1rem;
}

button{
    display:block;
    margin:25px auto;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:var(--cor-secundaria);
    color:white;
    cursor:pointer;
}

.contador{
    background:var(--cor-principal);
    color:white;
    text-align:center;
}

#numero{
    font-size:4rem;
    font-weight:bold;
}

.orgs{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.org{
    background:var(--card);
    padding:20px;
    border-left:5px solid var(--cor-secundaria);
    box-shadow:0 4px 10px rgba(0,0,0,.15);
}

footer{
    background:var(--cor-principal);
    color:white;
    text-align:center;
    padding:20px;
}
